/* START: Task 1 Styles */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
table{
   border: 1px solid black;
   margin: 20px auto;
}
td{
   border: 1px solid black;
   height: 100px;
   width: 100px;
   cursor: pointer;
   text-align: center;
   background-color: white;
}
.bg-blue{
   background-color: blue;
}
.bg-green{
   background-color: green;
}
.bg-yellow{
   background-color: yellow;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2{
   border-top: 1px solid #b3b3b3;
   border-bottom: 1px solid #b3b3b3;
}
.form-wrap{
   margin: 20px auto;
   width: 400px;
}
.notification{
   border: 1px solid rgb(100, 100, 100);
   color: white;
   padding: 15px;
   width: 100%;
   margin-bottom: 10px;
   min-height: 50px;
   visibility: hidden;
}
.success{
   background-color: #28a745;
   visibility: visible;
}
.danger{
   background-color: #ff8080;
   visibility: visible;
}
.input-group{
   display: flex;
}
.number-field{
   height: 35px;
   width: 100%;
   outline: none;
   border: 1px solid black;
   padding-left: 10px;
}
.send-btn{
   height: 35px;
   padding: 0 10px;
   margin-left: 5px;
   cursor: pointer;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.game-wrap{
   margin: 20px auto;
   width: 600px;
}
.play-zone{
   position: relative;
   height: 330px;
   width: 600px;
   border: 1px solid black;
   background-image: url(/FL15_HW15/homework/assets/court.png);
   background-size: cover;
   background-position: center;
}
.court{
   width: 100%;
   height: 100%;
}

.ball{
   width: 40px;
   height: 40px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.score-block{
   display: flex;
   justify-content: space-between;
}
.goal{
   margin-top: 10px;
   width: 100%;
   text-align: center;
   font-weight: bold;
}
.bucket{
   height: 15px;
   width: 15px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
#bucketA{
   left: 27px;
}
#bucketB{
   right: 27px;
}

/* END: Task 3 Styles */
