*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.form-wrapper{
   margin: 200px auto;
   padding: 15px;
   width: 900px;
   border: 1px solid black;
   display: none;
}
.input-field{
   width: 100%;
   height: 50px;
   background-color: rgb(60, 219, 158);
   color: gray;
   padding-left: 15px;
   margin: 10px 0;
   border: 0;
   outline: none;
}
.btn{
   width: 150px;
   height: 60px;
   background-color: rgb(36, 172, 36);
   margin: 20px 5px 0;
   border: 0;
   outline: none;
   color: white;
   cursor: pointer;
}