*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
header{
   background-image: url(/FL15_HW4/homework/img/apples.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
   margin: 0 auto; 
   color: white;
   padding: 50px 0;
   width: 100%;
}


.small-logo{
   margin: 0 30px;
   text-transform: uppercase;
   font-size: 24px;
   letter-spacing: 3px;
}
header .logo-wrapper{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
nav ul{
   display: flex;
   list-style: none;
}
nav li{
   font-size: 18px;
   margin: 0 35px;
}
li a{
   color: white;
   text-decoration: none;
}
header .container{
   display: flex;
   align-items: center;
   flex-direction: column;
}
.big-logo{
   margin-top: 400px;
   text-transform:capitalize;
   font-size: 18px;
   text-align: center;
   line-height: 80px;
}
.big-logo-text{
   text-transform: uppercase;
   font-size: 64px;
   letter-spacing: 8px;
}
.big-logo-text span{
   font-size: 112px;
}
header button{
   margin-top: 215px;
   width: 300px;
   height: 65px;
   font-size: 18px;
   color: white;
   border: 3px solid white;
   background-color: rgba(0,0,0, 0.4);
   cursor: pointer;
   outline: none;
   
}
header button:hover{
   background-color: rgba(255,255,255, 0.5);
   color: black;
}
article{
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 170px 0;
}
article p{
   width: 700px;
}
article .title {
   width: 600px;
   font-size: 24px;
   font-weight: normal;
}
.wrapper{
   max-width: 1600px;
   min-width: 900px;
   width: 100%;
   margin: 0 auto;
}
.artcl-list{
   background-color: #f3f3f3;
   padding-top: 185px;
   padding-bottom: 60px;
}
.artcl-list .title{
   font-size: 24px;
   text-align: center;
   font-weight: normal;
}
.artcl-list .wrapper{
   margin-top: 100px;
}
.artcl-list .artcl-item{
   height: 370px;
   width: 100%;
   margin: 20px 0;  
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.artcl-list .artcl-img{
   height: 100%;
   width: 900px;
   position: relative;
}
.artcl-img .img-name,
.likes{
   z-index: 1;
   position: absolute;
   color: white
}
.artcl-img .img-name{
   left: 20px;
   bottom:20px;
}
.artcl-img .likes{
   right: 20px;
   top: 20px;
   height: 35px;
   width: 70px;
   border: 3px solid white;
   line-height: 32px;
   text-align: center;
   background-color: rgba(0,0,0, 0.4);
}

.artcl-img img{
   height: 100%;
   width: 100%;
   z-index: 0;
}
.artcl-text{
   width: 540px;
   padding: 10px;
   text-align: center;
}
.order-1{
   order: 1;
}
.order-2{
   order: 2;
}
.subscription{
   width: 100%;
   margin: 60px 0 0 0;
   padding: 60px 30px;
   background-color: white;
   font-size: 24px;
   display: flex;
   align-items: center;
}
.form-container{
   margin-left: 20px;
   max-width: 1170px;
   width: 100%;
}
.subscription form{
   display: flex;
}
.subscription input[type="email"]{
   color:black;
   width: 100%;
   height: 70px;
   border-radius: 0;
   outline: none;
   padding: 20px;
   border: 1px solid #343638;
   font-size: 16px;
   background-color: #f3f3f3;
}
.subscription input[type="submit"]{
   width: 120px;
   height: 70px;
   border-radius: 0;
   border: 0;
   color: white;
   outline: none;
   background-color: #343638;
   font-size: 16px;
   cursor: pointer;
}
footer a{
   color: black;
}
footer li{
   font-size: 16px;
   margin: 0 10px;
}
.footer-content{
   background-color: white;
   width: 100%;
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}
.footer-item{
   width: 350px;
   margin: 150px 0;
}
.footer-item form{
   display: flex;
   margin-top: 5px;
}
.footer-item input[type="email"]{
   color:black;
   width: 250px;
   height: 50px;
   border-radius: 0;
   outline: none;
   padding: 20px;
   font-size: 16px;
   border: 1px solid #343638;
   background-color: #f3f3f3;
}
.footer-item input[type="submit"]{
   width: 100px;
   height: 50px;
   border-radius: 0;
   color: white;
   outline: none;
   border: 0;
   background-color: #343638;
   font-size: 18px;
   cursor: pointer;
}
.footer-item .title{
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 18px;
   color: black;
}
.footer-item p, 
.copyright-container
{
   font-size: 14px;
   color: #9E9E9E;
}
.pre-line{
   white-space: pre-line;
}
.copyright-container{
   border-top: 1px solid #F3F3F3;
   display: flex;
   justify-content: space-between;
   padding: 25px 0;
}
