﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
header{
   background-image: url(../img/header-bg.jpg);
   background-size: cover;
   height: 675px;
}
html{
   scroll-behavior: smooth;
}
.underscore{
   position: relative;
   width: fit-content;
}

.underscore::after{
   content: '';
   position: absolute;
   width: 70%;
   border-bottom: 2px solid #6c757d;
   transform: translateX(-50%);
   left:50%;
   bottom: -.5em;
}
.underscore.white::after{
   border-bottom: 2px solid white;
}
.btn-services{
   background-color: transparent;
   background-image: url(../img/touch-bg.png);
   background-size: cover;
   background-position: center;
   border: 0;
   width: 295px;
   height: 63px;
   cursor: pointer;
}
.works{
   background-color: #ebebeb;
}
.work-items{
   display: grid;
   gap:48px;
   align-content: start;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: "a b c"
                        "d e c"
                        "f e g";
}
.work-item-1 {
   grid-area: a;
}
.work-item-2 {
   grid-area: b;
}
.work-item-3 {
   grid-area: c;
}
.work-item-4 {
   grid-area: d;
}
.work-item-5 {
   grid-area: e;
}
.work-item-6 {
   grid-area: f;
}
.work-item-7 {
   grid-area: g;
}

.carousel-links{
   list-style: none;
}
.carousel-links li{
   height: 18px;
   width: 18px;
   border-radius: 50%;
   background-color: #62436f;
   margin: 4px;
   cursor: pointer;
}
.carousel-links li.active{
   background-color: #c0b4c5;
}
.carousel{
   position: relative;
}
.carousel::after{
   position: absolute;
   content: url(/FL15_HW3/homework/assets/img/slider-next-arrow.png);
   right: -100px;
   top: 50%;
   transform: translateY(-50%);
   cursor:pointer;
}
.carousel::before{
   position: absolute;
   content: url(/FL15_HW3/homework/assets/img/slider-prev-arrow.png);
   left: -100px;
   top: 50%;
   transform: translateY(-50%);
   cursor:pointer;
}
.photo-wrap{
   width: fit-content;
   width: 100%;
   height: 100%;
   height: fit-content;
   position: relative;
}
.photo-wrap::before{
   position: absolute;
   bottom: -10%;
   left: -10%;
   content:'';
   background-image: url(/FL15_HW3/homework/assets/img/references-image-bg.png);
   width: 60%;
   height: 60%;
   z-index: -10;
}
.contact{
   background-color: black;
}
.form-field{
   background-color: transparent;
   border: 0;
   border-bottom: 2px solid white;
   color: white;
}
footer{
   height: 200px;
   background-image: url(/FL15_HW3/homework/assets/img/footer-bg.jpg);
}
.contact-email,
.contact-phone{
   position: relative;
}
.contact-email::before{
   position: absolute;
   content: url(/FL15_HW3/homework/assets/img/footer-mail-icon.png);
   left: -40px;
}
.contact-phone::before{
   position: absolute;
   content: url(/FL15_HW3/homework/assets/img/footer-phone-icon.png);
   left: -40px;
}
.sticky-nav{
   z-index: 100;
   background-image: url(/FL15_HW3/homework/assets/img/footer-bg.jpg);
   background-size: cover;
}