/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  scroll-behavior: smooth;
  min-width: 414px;
}
nav{
   width: 100%;
   height: 65px;
   position: fixed;
   top:0;
   z-index: 10;
   background: white;
}
nav .wrapper{
display: flex;
align-items: center;
justify-content: space-between;
height: 100%;
}
.links ul{
   display: flex;
   list-style: none;
}
.links a {
   color: #363636;
   text-decoration: none;
   font-weight: bold;
   margin:0 10px;
}
.links a:hover{
   color: #0078aa;
}
header{
   width: 100%;
   height: 730px;
   background-size: cover;
   background-image: url(/FL15_HW5/homework/img/lady.jpg);
   background-position: center;
   margin-top: 65px;
   display: flex;
   align-items: center;
}
.wrapper{
   max-width: 1170px;
   width: 100%;
   margin: 0 auto;
}
.icon-btn{
   height: 50px;
   width: 50px;
   background-color: #0078aa;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.icon-btn a{
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
}
.icon-btn:hover {
   background-color: white;
   border: 1px solid #0078aa;
   
}
.icon-btn:hover i{
   color: #0078aa;
}


header .container{
   width: 500px;
}
header h1{
   margin-bottom: 30px;
   font-size: 36px;
   text-transform: capitalize;
}
header p{
   margin-bottom: 30px;
   font-size: 14px;
   color: #8f8f8f;
   width: 400px;
}
header .icon-container{
   display: flex;
   width: 200px;
   justify-content: space-between;
}
.about .wrapper{
   max-width: 1370px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 70px;
}
.contact img{
   height: 100%;
}
.about img{
   width: 100%;
   max-width: 750px;
   height: 100%
}
main .icon-btn{
   bottom: 35px;
   right: 35px;
   position: fixed;
}
main .icon-btn i{
   font-size: 20px;
}
.about{
   width: 100%;
}
.about .text-container{
   min-width: 400px;
   width: 400px;
   margin-left: 20px;
}
.highlighted{
   text-transform: uppercase;
   color: #47c9e5;
}
h2{
   font-size: 32px;
   margin-bottom: 5px;
}
.about ul{
   margin-top: 15px;
   list-style: none;
}
.about ul h3{
   margin: 15px 0 5px 25px;
   font-size: 16px;
   position: relative;
}
.about ul p{
   font-size: 12px;
}
.about h3::before{
   content: '⇒';
   color: #47c9e5;
   position: absolute;
   left: -25px;
}
.img-wrap{
   overflow: hidden;
}
.services{
   width: 100%;
   background-image: url(/FL15_HW5/homework/img/services_bg.jpg);
   padding: 50px 0;
}
.services h2, .services .subtitle{
   text-align: center;
}
.subtitle{
   text-transform: uppercase;
   font-size: 14px;
}
.services-list{
   margin-top: 30px;
   display: grid;
   width: 100%;
   grid-column-gap: 30px;
   grid-row-gap :30px;
   grid-template-columns: auto auto auto;

}
.services-item{
   width: 370px;
   height: 240px;
   background-color: white;
   padding: 25px;
}
.services-item h3{
   margin-bottom: 5px;
}
.pricing{
   padding-top: 70px;
   background-image: url(/FL15_HW5/homework/img/pricing_bg.jpg);
   background-size: cover;
   background-position: center;
   width: 100%;
   padding-bottom: 100px ;
   text-align: center;
}
.pricing-list{
   width: 100%;
   display: flex;
   align-items: baseline;
   margin: 50px 0;
}
.price-item{
   height: 550px;
   width: 390px;
   background-color: #47c9e5;
   color: white;
   font-size: 12px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.price-item h3{
   font-size: 24px;
}
.price-item em{
   font-size: 16px;
}
.price-item ul{
   list-style: none;
}
.price-item li{
   margin: 30px 0;
}
.price-num{
   font-size: 52px;
   font-weight: bold;
   margin: 10px 0;
}
.price-item button{
   width: 115px;
   height: 45px;
   background-color: white;
   border: 2px solid #0078aa;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
   color: #0078aa;
   font-weight: 800;
}
.price-item button:hover{
   background-color: #0078aa;
   border: 1px solid #0078aa;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   font-weight: 800;
}
.mid-card{
   background-color: white;
   color: #0078aa;
   border: 1px solid #0078aa;
   height: 610px;

}
.contact .wrapper{
   max-width: 1370px;
   display: flex;
   height: 100%;

}
.img-wrap{
   width:750px;
   height: 100%;
}
.contact{
   width: 100%;
   height: 500px;
}
.contact-form{
   margin-left: 30px;
   width: 600px;
   margin-top: 40px ;
}
.contact-form form{
   margin-top: 25px;
}
.contact-form input {
   color: #8f8f8f;
   display: block;
   width: 100%;
   border: 0;
   border-bottom: 1px solid #c9c9c9;
   height: 40px;
   outline: none;
   margin-top: 5px;
   padding-left: 10px;
   font-style: italic;
   font-size: 12px;
}
.contact-form button{
   margin-top: 20px;
   width: 90px;
   height: 45px;
   background-color: #0078aa;
   color: white;
   font-weight: bold;
   border: 0;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
}
.contact-form button:hover{
   color: #0078aa;
   background-color: white;
   border:1px solid #0078aa;
}

footer{
   width: 100%;
   height: 60px;
   background-color: #363636;
   color: white;
   line-height: 60px;
   text-align: center;
}
.icon-btn i{
   color: white;
   font-size: 28px;
}
@media only screen and (max-width: 1280px) {
   .wrapper{
      padding: 15px;
      max-width: 1170px;
   }
   .services-item{
      min-width: 225px;
      width: 100%;
      max-width: 370px;
   }
   .about img,
   .contact .ing-wrap{
      width: 380px;
      
   }
 }
 @media only screen and (max-width: 768px) {
   .wrapper{
      padding: 12px;
      width: 100%;
   }
   nav{
      height: fit-content;
   }
   nav .wrapper{
   display: flex;
   flex-direction: column;
   }

   header .container{
      text-align: center;
      align-items: center;
      margin: 0 auto;
   }
   .icon-container{
      margin: 0 auto;
   }
   .about .wrapper{
      flex-direction: column;
   }
   .services-list{
      margin-top: 30px;
      display: grid;
      width: 100%;
      grid-row-gap :30px;
      grid-template-columns: auto ;
   
   }
   .services-item{
      width: 100%;
      max-width: fit-content;
   }
   .pricing-list{
      flex-direction: column;
   }
   .pricing {
      padding-bottom: 0;
   }
   .price-item{
      height: 550px;
      width: 390px;
      background-color: #47c9e5;
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
   }
   .mid-card{
      background-color: white;
      color: #0078aa;
      border: 1px solid #0078aa;
      height: 610px;
   
   }
   .contact .wrapper{
      max-width: 1370px;
      display: flex;
      height: 100%;
      flex-direction: column;
   
   }
   .img-wrap{

      width: 100%;
   }
   .contact{
      height: max-content;
   }
   .contact-form{
      width: max-content;
      margin: 0 auto;
      margin-top: 20px;
   }
   .contact-form form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .about .text-container{
      margin-top: 10px;
   }
   header .container{
      width: 100%;
   }
 }