@media print{
   .tm-sidebar,
   #about,
   section.tm-content-box,
   .blocks,
   #ideas,
   section::before{
      display: none;
   }
   .tm-team-description-container{
      max-width:700px;
   }
   .flex-2-col img{
      width: 60%;
      
   }
   .flex-2-col h2{
      color: blue;
   }
   .flex-2-col p::first-letter, p.text-xs-center::first-letter{
     text-transform: uppercase;
   }
}
.boxes .box-bg:hover{
   background-color: lightskyblue;
}
.boxes .box-bg:hover h2{
   color: white;
}
p::first-letter{
   font-size: 30px;
   color: lightskyblue;
}
.tm-content-box, nav{
   box-shadow: 0 0 10px grey;
}
.flex-2-col{
   display: flex;
   align-items: center;
   line-height: 2em;
}
.flex-2-col h2+p{
   font-style: italic;
}
.flex-2-col p::first-letter{
   margin-left: 30px;
}
section::before{
   width: 0;
   height: 0;
   border-top: 30px solid lightskyblue;
   border-right: 280px solid transparent;
   content: "";
}
#tmCarousel{
   letter-spacing: 5px;
   color: gainsboro;
}
.tm-content-box a{
   color: black;
}
.tm-content-box a:visited{
   text-decoration: underline;
}
.tm-content-box a:hover{
   text-decoration: underline;
   color:  lightskyblue;
}
.tm-content-box .text::after{
   content: 'New';
   color: red;
   font-size: 0.7em;
   position: absolute;
   padding-left: 2px;
}
.blocks .box-work{
   padding: 10px;
}
.blocks .box-work p{
   font-style: italic;
}
.blocks .box-work p::first-letter{
   color: black;
}
button[type="submit"]{
   border-radius: 0;
   background-color: white;
   color: lightskyblue;
   border-color:  lightskyblue;
   float: right;
   height: 50px;
   width: 150px;
}
button[type="submit"]:hover{
   color: white;
   background-color:  lightskyblue;
   border-color:  lightskyblue;
}
.tm-nav-item:hover{
   background-color: grey;
}
.tm-nav-item:hover a{
   color: white;
}

.mandatory-field::after{
   content: '*';
   color: red;
   font-weight: bold;
}