* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

header {
  background-image: url(/FL15_HW3/homework/img/m-h-day.jpg);
  height: 720px;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-left: 190px;
  border-radius: 0 0 50% 0; }
  header .landing-logo, header .landing-logo span {
    display: flex;
    margin-bottom: 80px;
    color: #2c2f3c;
    font-family: "Sans Pro", sans-serif; }
    header .landing-logo p {
      margin-left: 15px;
      font-weight: bold;
      font-size: 20px; }
    header .landing-logo span {
      margin-bottom: 0;
      display: block;
      font-size: 10px;
      text-align: center; }
  header .header_heading {
    margin-bottom: 30px;
    width: 500px;
    font-family: "Hind", sans-serif;
    color: #2c2f3c;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    position: relative;
    z-index: 10; }
    header .header_heading::after {
      content: '';
      background-color: #14a0c7;
      position: absolute;
      z-index: -1;
      height: 50px;
      width: 300px;
      left: 0;
      bottom: 7px; }
  header .header_text {
    white-space: pre-line;
    margin-bottom: 65px;
    font-family: "Sans Pro", sans-serif;
    color: #2c2f3c;
    line-height: 24px; }
  header .header_button {
    margin-right: 150px;
    height: 50px;
    width: 145px;
    background-color: #699900;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: "Hind", sans-serif;
    font-weight: bold;
    font-size: 16px; }
  header .login {
    color: white;
    font-family: "Hind", sans-serif;
    font-weight: bold; }

main {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 210px;
  position: relative; }
  main .section_text {
    font-family: "Hind", sans-serif;
    color: #2c2f3c;
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 30px 0; }
    main .section_text::after {
      content: '';
      background-color: #14a0c7;
      position: absolute;
      z-index: -1;
      height: 50px;
      width: 190px;
      left: 50%;
      transform: translateX(12px);
      bottom: 20px; }
  main .section_card {
    margin: 0 auto;
    margin-top: 24px;
    height: 325px;
    width: 1115px;
    background-color: #21232e;
    border-radius: 5px;
    display: flex;
    padding: 20px; }
    main .section_card img {
      border-radius: 5px; }
    main .section_card .section_card_right_container {
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 470px;
      margin: 0 auto; }
      main .section_card .section_card_right_container .section_card_heading {
        font-family: "Hind", sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 40px; }
      main .section_card .section_card_right_container .section_card_text {
        color: #c0c3ce;
        font-family: "Sans Pro", sans-serif;
        line-height: 24px; }
      main .section_card .section_card_right_container .section_link {
        color: #c0c3ce;
        margin-top: 25px;
        font-family: "Hind", sans-serif; }
  main .section_banner {
    width: 100%;
    height: 145px;
    background: #699900;
    background: linear-gradient(45deg, #699900 0%, #2c5ade 100%);
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    display: flex;
    padding: 25px 160px;
    justify-content: space-between;
    transform: translateY(50%);
    align-items: center; }
    main .section_banner .section_banner_heading {
      color: #2c2f3c;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      font-family: "Hind", sans-serif; }
      main .section_banner .section_banner_heading::after {
        content: '';
        background-color: #14a0c7;
        position: absolute;
        z-index: -1;
        height: 50px;
        width: 65px;
        bottom: 0;
        left: 30%; }
    main .section_banner .section_banner_text {
      font-family: "Sans Pro", sans-serif;
      color: #c0c3ce; }
    main .section_banner .section_banner_button {
      height: 50px;
      width: 145px;
      background-color: #699900;
      color: white;
      border: 0;
      border-radius: 5px;
      font-family: "Hind", sans-serif;
      font-weight: bold;
      font-size: 16px; }

footer {
  height: 240px;
  width: 100%;
  background-color: #21232e;
  color: #c0c3ce;
  font-family: "Sans Pro", sans-serif; }
  footer .footer-wrap {
    padding: 72px 192px 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex; }
    footer .footer-wrap .footer_logo.landing-logo, footer .footer-wrap header .landing-logo span.footer_logo, header .landing-logo footer .footer-wrap span.footer_logo {
      display: flex; }
      footer .footer-wrap .footer_logo.landing-logo p, footer .footer-wrap header .landing-logo span.footer_logo p, header .landing-logo footer .footer-wrap span.footer_logo p {
        margin-left: 15px;
        font-weight: bold;
        font-size: 20px; }
      footer .footer-wrap .footer_logo.landing-logo span, footer .footer-wrap header .landing-logo span.footer_logo span, header .landing-logo footer .footer-wrap span.footer_logo span {
        display: block;
        font-size: 10px;
        text-align: center; }
    footer .footer-wrap .footer_text {
      width: 300px;
      font-size: 14px; }

/*# sourceMappingURL=style1.css.map */
