*{
   font-family: 'Roboto', sans-serif;
}
.logo-content{
   font-size: 2em;
}
.btn-intro{
   background-color: #ff7f50;
   color: white;
}

.btn-subscribe{
   background-color: #ff7f50;
   color: white;
}
.games-dark{
   background-color: #343a40;
   color: #f8f9fa;
}
.games-light{
   background-color: #f8f9fa;
   color: #343a40;
}
.game-item{
   background-color: transparent;
}
.game-item h4{
   font-size: 18px;
}
.game-item p{
   font-size: 14px;
}
.subscribe-container{
   background-color: #343a40;
   color: #f8f9fa;
}
.subscribe-container h4{
   font-size: 18px;
}
.subscribe-container p{
   font-size: 14px;
}
.subscribe-container span{
   font-size: 14px;
}