*{
   box-sizing: border-box;
   font-family: sans-serif;
   margin: 0 ;
   padding: 0;
}
#app-root{ 
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input-wrap{
   text-align: start;
   margin-left: 20px;
   position: relative;
}

.choose-box{
   display: flex;
   align-items: center;
   margin: 10px;
}
.choose-box p {

   margin-right: 10px;
}

table {
   border-collapse: collapse;
   width: 70%;
 }

td, th{
   border: 1px solid #cccccc;
   text-align: center;

}
tr:hover{
   background-color: #dddddd;
}
th{
   background-color: #28a745;
   color: white;
   padding: 12px;
   cursor: pointer;
}.th-sort-asc::after{
   content: "\25b4";
   position: absolute;
}
.th-sort-desc::after{
   content: "\25be";
   position: absolute;
}

tbody > :nth-child(even) {
   background-color: #eeeeee;
 }
 

