@mixin btn {
   height: 50px;
   width: 145px;
   background-color: $btn-color;
   color: white;
   border: 0;
   border-radius: 5px;
   font-family: $main-font;
   font-weight: bold;
   font-size: 16px;
}
@mixin marks {
   content: '';
   background-color: $mark-clr;
   position: absolute;
   z-index: -1;   
}
@mixin links {
   color: $second-txt-clr;
   margin-top: 25px;
   font-family: $main-font;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: $bg-color;
}
header{
   background-image: $header-img;
   height: 720px;
   background-position: center;
   background-size: cover;
   padding-top: 20px;
   padding-left: 190px;
   border-radius: 0 0 50% 0;
   .landing-logo{
      display: flex;
      margin-bottom: 80px;
      color: $main-text-clr;
      font-family: $second-font;
      p{
         margin-left: 15px;
         font-weight: bold;
         font-size: 20px;
      }
      
      span{
         @extend .landing-logo;
         margin-bottom: 0;
         display: block;
         font-size: 10px;
         text-align: center;
      }
   }
   .header_heading{
      margin-bottom: 30px;
      width: 500px;
      font-family: $main-font;
      color: $main-text-clr;
      font-size: 70px;
      font-weight: bold;
      line-height: 70px;
      position: relative;
      z-index: 10;

      &::after{
         @include marks();
         height: 50px;
         width: 300px;
         left: 0;
         bottom: 7px;
      }
   }
   .header_text{
      white-space: pre-line;
      margin-bottom: 65px;
      font-family: $second-font;
      color: $main-text-clr;
      line-height: 24px;
   }
   .header_button{
      margin-right: 150px;
     @include btn();
   }
   .login{
      color: white;
      font-family: $main-font;
      font-weight: bold;
   }
}
main{
   width: 1200px;
   margin: 0 auto;
   padding-bottom: 210px;
   position: relative;
   .section_text{
      font-family: $main-font;
      color: $main-text-clr;
      font-size: 41px;
      font-weight: bold;
      text-align: center;
      position: relative;
      margin: 30px 0;
      &::after{
         @include marks();
         height: 50px;
         width: 190px;
         left: 50%;
         transform: translateX(12px);
         bottom: 20px;
      }
   }
   .section_card{
      margin: 0 auto;
      margin-top: 24px;
      height: 325px;
      width: 1115px;
      background-color: $card-bg-clr;
      border-radius: 5px;
      display: flex;
      padding: 20px;
      img{
         border-radius: 5px;
      }
      .section_card_right_container{
         color: $card-txt-clr;
         display: flex;
         align-items: center;
         flex-direction: column;
         width: 470px;
         margin: 0 auto;
         .section_card_heading{
            font-family: $main-font;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin: 40px;
         }
         .section_card_text {
            color: $second-txt-clr;
            font-family: $second-font;
            line-height: 24px;
         }
         .section_link{
            @include links;
         }
      }
   }
   .section_banner{
      width: 100%;
      height: 145px;
      background: $grad-clr-first;
      background: linear-gradient(45deg, rgba($grad-clr-first,1) 0%, rgba($grad-clr-second,1) 100%);
      position: absolute;
      border-radius: 5px;
      bottom: 0;
      display: flex;
      padding: 25px 160px;
      justify-content: space-between;
      transform: translateY(+50%);
      align-items: center;
      .section_banner_heading{
         color: $main-text-clr;
         font-size: 28px;
         font-weight: bold;
         text-align: center;
         position: relative;
         margin-bottom: 10px;
         font-family: $main-font;
         &::after{
            @include marks();
            height: 50px;
            width: 65px;
            bottom: 0;
            left: 30%;
         }
      }
      .section_banner_text{
         font-family: $second-font;
         color: $second-txt-clr;
      }
      .section_banner_button{
         @include btn();
      }
   }
}
footer{
   height: 240px;
   width: 100%;
   background-color: $footer-clr;
   color: $second-txt-clr;
   font-family: $second-font;
   .footer-wrap{
      padding: 72px 192px 0;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .footer_logo.landing-logo{
         display: flex;
         p{
            margin-left: 15px;
            font-weight: bold;
            font-size: 20px;
         }
         
         span{
            display: block;
            font-size: 10px;
            text-align: center;
            
         }
      }
      .footer_text {
         width: 300px;
         font-size: 14px;
      }
   }
   
}