$btn-color:#699900;
$main-text-clr: #2c2f3c;
$mark-clr:#14a0c7;
$header-img: url(/FL15_HW3/homework/img/m-h-day.jpg);
$card-bg-clr:#21232e;
$bg-color:white;
$card-txt-clr:white;
$second-txt-clr:#c0c3ce;
$footer-clr:#21232e;
$grad-clr-first: #699900;
$grad-clr-second: #2c5ade;
$main-font: 'Hind', sans-serif;
$second-font:'Sans Pro', sans-serif; 