$btn-color:#e3ac00;
$main-text-clr: white;
$mark-clr:#ff4e33;
$header-img: url(/FL15_HW3/homework/img/m-h-night.jpg);
$card-bg-clr:#3b3f50;
$bg-color:#21232e;
$card-txt-clr:white;
$second-txt-clr:#c0c3ce;
$footer-clr:#3b3f50;
$grad-clr-first: #e3ac00;
$grad-clr-second: #912a53;
$main-font: 'Hind', sans-serif;
$second-font:'Fresca', sans-serif;