

body {
  padding: 0;
  margin: 0 0 5vh;
}
header{
   width: 100%;
   height: 125px;
   background-color: black;
}
header h2{
   margin: 0;
   text-align: center;
   color: white;
   font-size: 72px;
   line-height: 125px;
}
.calendar {
   margin: 50px auto 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.calendar ul{
   width: 1024px;
   padding: 0;
   list-style: none;
   display: flex;
   text-align: center;
   justify-content: space-around;
}
.calendar li{
   width: 133px;
   font-size: 20px;
   font-weight: bold;
}
.calendar-body{
   display: grid; 
   grid-template-columns: repeat(7, 133px);
   grid-auto-rows: 133px;
   grid-gap: 15px;
}
.calendar-body :nth-child(-n +4){
  background-color: white;
}
.calendar-day{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eaeaea;
   border: 1px solid #ededed;
   font-size: 18px;
}
