body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
main{
   background-color: #f4f4f4;
   padding-top: 30px;
}
footer{
   background-color: #f4f4f4;
   height: 65px;
   color: #666666;
   text-align: center;
}
footer p{
   line-height: 65px;
   font-weight: 400;
}
.info-list{
   margin: 0 auto;
   display: flex;
   max-width: 1200px;
   flex-wrap: wrap;
}
.info-list .odd{
   background-color: rgb(118, 205, 216);
   align-items: center;
   color: white;
}
.six:hover,
.two:hover,
.three:hover{
   color:#76cdd8;
}
.six:hover::after,
.two:hover::after{
   content: '';
   position: absolute;
   right: 0;
   top: 0;
   border-right: 70px solid rgb(118, 205, 216);
   border-bottom: 70px solid transparent;
   border-left: 70px solid transparent;
}
.three:hover::after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   border-left: 70px solid rgb(118, 205, 216);
   border-bottom: 70px solid transparent;
   border-right: 70px solid transparent;
}
.info-item{
   width: 600px;
   min-height: 400px;
   background-color: white;
   padding: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;

}
.info-item a{
   text-decoration: none;
   color: #007bff;
}
main p, main em{
   margin: 10px 0;
   line-height: 32px;
}
h2{
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}
h3{
   font-size: 28px;
   font-weight: 400;

}
h4{
   font-size: 24px;
   font-weight: 400;
}
.round-img{
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background-image: url(../img/image-04.jpg);
   background-position:center;
   background-size: cover;
}
.scaleable-img-container{
   padding: 0;
   overflow: hidden;
}
.scaleable-img{
   transition-duration: .3s;
   height: 100%;
   z-index: 10;
}
.scaleable-img:hover{
   transform: scale(1.1);
   transition-duration: .3s;
}

.sub-title{
   font-size: 14px;
}
.btn{
   height: 50px;
   width: 200px;
   border-radius: 0;
   border: 0;
   font-size: 16px;
   color: white;
   text-transform: uppercase;
   background-color: #019999;
   cursor: pointer;
   align-self: flex-end;
   outline: none;
   margin: 10px;
   font-weight: 300;
}
.btn-submit{
   width: 160px;
   font-weight: 400;
}

.btn:hover{
   background-color: rgb(118, 205, 216);
}
.card{
   display: flex;
   width: 1200px;
   height: 580px;
   margin: 30px auto;
   background-color: white;
}
.card-text{
   height: 100%;
   width: 815px;
   padding: 50px;
   display: flex;
   flex-direction: column;
}
.card-img{
   overflow: hidden;
}
.card-img img{
   transition-duration: .3s;
   height: 100%;
   z-index: 10;
}
.card-img img:hover{
   transition-duration: .3s;
   transform: scale(1.1);
}
.plan-wrap{
   margin: 30px auto;
   background-color: white;
   height: 600px;
   width: 1200px;
   display: flex;
}
.plan-img{
   overflow: hidden;
}
.plan-img img{
   transition-duration: .3s;
   height: 100%;
   z-index: 10;
}
.plan-img img:hover{
   transition-duration: .3s;
   transform: scale(1.1);
}
.plan-list{
   display: flex;
   justify-content: center;
   gap: 40px;
   align-items: center;
   width: 800px;
   height: 100%;
}
.plan-item{
   width: 340px;
   border: 1px solid #019999;
   display: flex;
   flex-direction: column;
}
.plan-item:hover{
   box-shadow: 0 0 0 0.2rem #24d4d4;
}
.plan-item .btn{
   margin-bottom: 0;
}
.plan-item .btn:hover{
   background-color: #24d4d4;
}
.plan-item .discount{
   display: none;
   font-size: 18px;
   font-weight: 400;
   margin: 0;
   color: #24d4d4;
}
.show-discount:hover .discount{
   display: inline;
}
.plan-item .discount span{
   color: red;
}
.plan-item-title{
   color: white;
   width: 100%;
   background-color: #019999;
   text-align: center;
   padding: 15px 0 10px;
}
.plan-item-title h3, p{
   font-weight: 300;
}
.plan-item-body{
   width: 100%;
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.plan-item-body li{
   margin: 20px;
}
.app-form{
   width: 1200px;
   margin: 0 auto;
}
.app-top{
   height: 165px;
   width: 100%;
   background-color: #23d4d4;
   color: white;
   padding: 45px 160px;
}
.app-body{
   height: 390px;
   width: 100%;
   background-color: #f4f4f4;
   padding: 0 160px;
   position: relative;
   display: flex;
   align-items: center;
}
.app-bottom{
   height: 275px;
   width: 100%;
   background-color: #019999;
   color: white;
   padding: 0 160px;
}
.form-window{
   height: 500px;
   width: 880px;
   background-color: white;
   padding: 65px 80px;
}
form{
   display: flex;
   flex-direction: column;
}
.input-wrap{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.input-fields{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 266px;
   padding-bottom: 5px ;
}
.input-fields input, 
.input-fields select{
   font-size: 16px;
   padding-left: 20px;
   outline: none;
   color: #767676;
   height: 55px;
   width: 345px;
   border-radius: 0;
   border: 1px solid #ced4da;
}
.input-fields select {
   border-radius: 2px;
   border: 1px solid #767676;
}
.input-fields input:focus, 
.input-fields select:focus,
.text-field textarea:focus{
   border-color: #24d4d4; 
   box-shadow: 0 0 0 0.2rem #24d4d4; 
}
.text-field textarea{
   max-width: 340px;
   min-width: 340px;
   max-height: 260px;
   min-height: 200px;
   font-size: 16px;
   padding: 10px;
   outline: none;
}
.app-bottom{
   padding-top: 105px;
   display: flex;
   justify-content: space-around;
}
.col-one p,
.col-two p{
   width: 200px;
}
ul{
   list-style: none;
   margin-bottom: 10px;
}
.self-center{
   align-self: center;
}
.highlighted{
   color:#76cdd8;
}